<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='description' content='RetroFunk is a Techno/Electronic DJ from Duarte, CA.' />
	<meta name='keywords' content='pedro,retrofunk,dj' />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1;' />
	<title>
	{% if page.title %}
	{{ page.title }} &#187; 
	{% endif %}
	RetroFunk</title>
	<link rel='canonical' href='http://www.retrofunk.net/' />
	<link rel='author' href='/humans.txt' />
	<link rel='shortcut icon' href='/favicon.ico' />
	<link rel='apple-touch-icon-precomposed' href='/images/apple-touch-icon.png' />
	<link rel='stylesheet' href='/styles/reset.css' />
    <link rel='stylesheet' href='/plugins/nivo-slider/nivo-slider.css' />
    <link rel='stylesheet' href='/skin/jplayer.blue.monday.css'/>
	<link rel='stylesheet' href='/styles/global.css' />
	<script src='/scripts/jquery.min.js'></script>
    <script src='/plugins/nivo-slider/jquery.nivo.slider.pack.js'></script>
    <script src='/plugins/jquery-validation/jquery.validate.min.js'></script>
    <script src='/js/jquery.jplayer.min.js'></script>
	<script src='/scripts/main.js'></script>
	<script>
	 $(document).ready(function(){
		// Initialize jPlayer
		 $("#jquery_jplayer_1").jPlayer({
		        ready: function () {
		          $(this).jPlayer("setMedia", {
		            m93: "/media/RetroFunk_-_Unholy_Symphony.mp3",
		            oga: "/media/RetroFunk_-_Unholy_Symphony.ogg"
		          });
		        },
		        swfPath: "/js",
		        supplied: "m93, oga"
		      });
		    });
	 });
	 </script>
	
	
	
	<!--[if lt IE 9]>
		<script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
		<link href='/styles/ie.css' rel='stylesheet' />
	<![endif]-->
</head>
<body>
	<div class='main-top-bar-wrap'>
		<div class='main-top-bar' style='text-align: right;'>
			<audio class='top-bar-audio' controls>
				<source src='/media/RetroFunk_-_Unholy_Symphony.mp3' type='audio/mp3' />
				<source src='/media/RetroFunk_-_Unholy_Symphony.ogg' type='audio/ogg' />
			</audio>
			<img style='margin-left: 10px; height: 35px; width: auto; float: left;' src='/images/equalizer.gif' alt=''/>
			<span class='' style='font-size: 12px;color: #555; padding-right: 5px;'>on the web:</span>
			<div style='float: right; width: 150px; text-align: right;'><a href="https://twitter.com/retrofunksound" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-show-count="false">Follow @retrofunksound</a></div>
			<div style='float: right; text-align: right;'><a href='http://www.facebook.com/profile.php?id=1848116997'><img src='/images/facebook_16.png' alt='' /></a>
			<a href='http://soundcloud.com/retrofunk-1'><img src='/images/soundcloud_orange_white_16.png' alt='' /></a></div>
			<div class='clear'></div>
		</div>
	</div>
	<div class='main-header-wrap'>
		<header class='main-header'>
			<div id='slider' class='nivoSlider'>
				<img src='/images/retrofunk-header-nivo.png' alt='' />
				<img src='/images/retrofunk-header-blue-nivo.png' alt='' />
				<img src='/images/retrofunk-header-green-nivo.png' alt='' />
				<img src='/images/retrofunk-header-purple-nivo.png' alt='' />
				<img src='/images/retrofunk-header-red-nivo.png' alt='' />
				<img src='/images/retrofunk-header-bright-nivo.png' alt='' />
				<img src='/images/retrofunk-header-desat-nivo.png' alt='' />
				<img src='/images/retrofunk-header-invert-nivo.png' alt='' />
			</div>
		</header>
	</div>
	<div class='main-nav-wrap'>
		<nav class='main-nav'>
			<ul class='main-nav-ul'>
				<li><a class='home' href='/'>Home</a></li>
				<li><a class='about' href='/about'>About</a></li>
				<li><a class='events' href='/events'>Events</a></li>
				<li><a class='gallery' href='/gallery'>Gallery</a></li>
				<li><a class='downloads' href='/downloads'>Downloads</a></li>
				<li><a class='contact' href='/contact'>Contact</a></li>
			</ul>
			<div class='clear'></div>
		</nav>
	</div>
	<div class='main-content-wrap'>
		<section class='main-content'>
			<div class='loader'></div>
			{{ content }}
		</section>
	</div>
	<div class='main-footer-wrap'>
		<footer class='main-footer'>
			<div style='float: right; width: 150px; text-align: right;'><a href="https://twitter.com/retrofunksound" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-show-count="false">Follow @retrofunksound</a></div>
			<p style='float: left; width: 500px;'><strong>&#169; 2011</strong> RetroFunk | +1.626.371.4192 &#8226; <a href='mailto:donpedrocastaneda@yahoo.com'>donpedrocastaneda@yahoo.com</a></p>
			<p style='float: left; width: 500px; font-size: 10px;'>Designed by <a href='http://www.miguelmota.com'>Miguel Mota</a><a href='https://plus.google.com/102174577273194387652?rel=author' rel='author'>+</a></p>
			<div class='jbl-logo'></div><div class='traktor-logo'></div><div class='monster-logo'></div>
		</footer>
	</div>
	
	
	
		
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
          <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          <ul class="jp-toggles">
            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
          </ul>
        </div>
      </div>
      <div class="jp-title">
        <ul>
          <li>Bubble</li>
        </ul>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>
  
  
  
  
  
	<script>
		$(".<decorator:getProperty property='meta.page' />").addClass('selected');
  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-12642068-1']);
  		_gaq.push(['_setDomainName', '.miguelmota.com']);
 		_gaq.push(['_trackPageview']);
  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
	<noscript><div class='noscript'>please enable javascript</div></noscript>
</body>
</html>