@charset 'utf-8';

body {
	font-family: Helvetica, Arial, sans-serif;
}
a {
	color: #99374f;
	transition: all linear .1s;
	-moz-transition: all linear .1s;
	-o-transition: all linear .1s;
	-webkit-transition: all linear .1s;
}
a:hover {
	color: #993780;
}
.clear {
	clear: both;
}
.selected {
	color: #999;
}
.left-column {
	float: left;
	position: relative;
	width: 700px;
}
.right-column {
	float: right;
	position: relative;
	width: 250px;
}
p {
	padding-bottom: 10px;
}
h1.title {
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 15px;
	text-transform: uppercase;
	
}






.main-top-bar-wrap {
	background: #000;
	width: 100%;
}
.main-top-bar {
	background: #000;
	margin: 0 auto;
	padding: 10px;
	width: 970px;
}
.main-top-bar img {
	margin-right: 5px;
	vertical-align: middle;
}
.social-soundcloud {
	background: url('/images/soundcloud_orange_white_16.png') no-repeat 0 0;
	display: inline-block;
	float: right;
	height: 16px;
	width: 16px;
}




.main-header-wrap {
	background: #000;
	width: 100%;
}
.main-header {
	background: #000 url('/images/retrofunk-header-nivo.png') no-repeat 0 0;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	width: 970px;
}







#slider {
	height: 300px;
	width: 970px;
}
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
}
.nivo-controlNav {
	position:absolute;
	bottom: 0;
	right: 0;
}
.nivo-controlNav a {
	display:block;
	width:5px;
	height:12px;
	background:url('/images/bullets.png') no-repeat;
	text-indent:-9999px;
	border:0;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -12px;
}






.main-nav-wrap {
	background: #111;
	border-top: 5px solid #333;
	width: 100%;
}
.main-nav {
	background: #111;
	margin: 0 auto;
	width: 970px;
}
.main-nav-ul {
	background: #111;
	border-top: 5px solid #333;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: -5px auto 0 auto;
	text-transform: uppercase;
	width: 100%;
}
.main-nav-ul li {
	float: left;
	margin-top: -5px;
}
.main-nav-ul li a {
	background: #111;
	border-top: 5px solid #555;
	border-bottom: 1px solid #111;
	color: #ccc;
	display: block;
	padding: 10px 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	width: 100px;
}
.main-nav-ul li a {
	background: #111;
	border-top-color: #007799;
	color: #fff;
}
.main-nav-ul li a:hover {
	background: #000;
	color: #fff;
	border-top-width: 6px;
	border-bottom: 0;
}
.main-nav-ul li a.home {
	border-top-color: #44758c;
	color: #44758c;
}
.main-nav-ul li a.home:hover {
	border-top-color: #5697b5;
	color: #5697b5;
}
.main-nav-ul li a.about {
	border-top-color: #843b4d;
	color: #843b4d;
}
.main-nav-ul li a.about:hover {
	border-top-color: #af4f65;
	color: #af4f65;
}
.main-nav-ul li a.events {
	border-top-color: #ad4239;
	color: #ad4239;
}
.main-nav-ul li a.events:hover {
	border-top-color: #d64e44;
	color: #d64e44;
}
.main-nav-ul li a.gallery {
	border-top-color: #bc6a27;
	color: #bc6a27;
}
.main-nav-ul li a.gallery:hover {
	border-top-color: #e27e31;
	color: #e27e31;
}
.main-nav-ul li a.downloads {
	border-top-color: #b79d33;
	color: #b79d33;
}
.main-nav-ul li a.downloads:hover {
	border-top-color: #ddbd3e;
	color: #ddbd3e;
}
.main-nav-ul li a.contact {
	border-top-color: #869324;
	color: #869324;
}
.main-nav-ul li a.contact:hover {
	border-top-color: #aebf2f;
	color: #aebf2f;
}





.main-content-wrap {
	background: #ddd url('/images/arbutus-bg-repeat-square.jpg') repeat 0 0;
	width: 100%;
}
.main-content {
	background: #ddd url('/images/arbutus-bg-repeat-square.jpg') repeat 0 0;
	min-height: 500px;
	margin: 0 auto;
	padding: 20px 10px;
	width: 970px;
}


.contact-form {
	width: 550px;
	position: relative;
}
input[type=text],
input[type=password],
textarea {
	background: #fff;
	border: 1px solid #999;
	color: #222;
	font-size: 18px;
	padding: 5px;
	width: 300px;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	border: 1px solid #35b0e0;
	color: #222;
}
textarea {
	font-family: Helvetica, Arial, sans-serif;
	height: 200px;
	width: 100%;
}
.button {
	background: #ccc;
	border: 1px solid #999;
	color: #222;
	float: right;
	font-size: 18px;
	padding: 8px 16px;
}
.button:hover {
	border: 1px solid #35b0e0;
	color: #000;
}
.input {
	padding-bottom: 10px;
}
.error {
	color: #ff0000;
	font-size: 14px;
	padding-left: 5px;
}
input.error {
	border: 1px solid #ff0000;
}
textarea.error {
	color: #222;
	font-size: 18px;
	border: 1px solid #ff0000;
}
.contact-qrcode {
	background: #ccc url('/images/qrcode.png') no-repeat 0 0;
	display: block;
	height: 250px;
	width: 250px;	
}
.phone-wrap {
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
}
.phone-icon {
	background: url('/images/pictos/24/315.png') no-repeat 0 0;
	display: inline-block;
	height: 24px;
	width: 24px;	
	vertical-align: middle;
}
.thank-you {
	font-size: 28px;
	padding-bottom: 15px;
}




.main-footer-wrap {
	background: #000;
	width: 100%;
}
.main-footer {
	background: #000;
	color: #999;
	font-size: 12px;
	height: 100px;
	margin: 0 auto;
	padding: 25px 10px;
	width: 970px;
}



.jbl-logo {
	background: url('/images/jbl-logo-32.png') no-repeat 0 0;
	display: inline-block;
	height: 32px;
	width: 58px;
}
.traktor-logo {
	background: url('/images/traktor-logo.png') no-repeat 0 0;
	display: inline-block;
	height: 27px;
	width: 180px;
}
.monster-logo {
	background: url('/images/monster-logo-18.png') no-repeat 0 0;
	display: inline-block;
	height: 18px;
	width: 175px;
}