@charset 'utf-8';

body {

}
.clear {
	clear: both;
}
.main-header-wrap {
	background: #000;
	width: 100%;
}
.main-header {
	background: #000 url('/images/retrofunk-logo-small.png') no-repeat 0 -125px;
	height: 300px;
	margin: 0 auto;
	padding: 10px;
	width: 970px;
}
.main-nav-wrap {
	background: #777;
	width: 100%;
}
.main-nav {
	background: #777;
	margin: 0 auto;
	padding: 10px;
	width: 970px;
}
.main-nav-ul li a {
	display: block;
	float: left;
	width: 100px;
}
.main-content-wrap {
	background: #777;
	width: 100%;
}
.main-content {
	background: #999;
	height: 500px;
	margin: 0 auto;
	padding: 10px;
	width: 970px;
}
.main-footer-wrap {
	background: #000;
	width: 100%;
}
.main-footer {
	background: #000;
	color: #fff;
	height: 100px;
	margin: 0 auto;
	padding: 10px;
	width: 970px;
}